<a href="https://colab.research.google.com/github/ankit0696/3visionai/blob/master/spam-filter/Spam_Filter_Naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Spam Filter
> The SMS Spam Collection v.1 is a set of SMS tagged messages that have been collected for
SMS Spam research. It contains one set of SMS messages in English of **5,574
messages**, tagged according to being ham (legitimate) or spam. It has a total
of **4,827** SMS legitimate messages **(86.6%)** and a total of **747 (13.4%)** spam
messages. The files contain one message per line. Each line is composed of
two columns: one with a label (ham or spam) and the other with the raw text.
### Here are some examples:
- ham What you doing?how are you?
- spam FreeMsg: Txt: CALL to No: 86888 & claim your reward of 3 hours talk time to
use from your phone now! ubscribe6GBP/ month inc 3hrs 16 stop?txtStop

## Importing Packages & Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import Dataset

For our purpose, we will use the collection of SMS messages, which was put together by Tiago A. Almeida and José María Gómez Hidalgo. It is free and can be downloaded from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/sms+spam+collection).

In [ ]:
spam_data = pd.read_csv('SMSSpamCollection', header=None, sep='\t', names=['Label', 'Text'])

In [ ]:
spam_data.head(5)

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
spam_data.describe()

       Label                    Text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [ ]:
spam_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   5572 non-null   object
 1   Text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

## Visualizing Data

In [ ]:
spam = spam_data[(spam_data.Label == 'spam')]
spam

     Label                                               Text
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
...    ...                                                ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]